body{
background-color:white;
margin:0;
padding: 0;
}

.section{
   
}

.header{
    margin:0;
    padding:0;
    height: 50px;
}

.nav{
float:right;
padding-right:20px;
font-size: 20px;
font-weight: bold;
}
.nav ul{

    
}
.nav li{
    display: inline;
    float: left;
}
.nav a{
    display: block;
    padding:8px;
    text-decoration: none;
    color:black;
    
}

.section{
    padding:0px;
}


.left-section{
    float:left;
    height: 400px;
    width: 50%;
}
.st{
    font-size:40px;
    color: #f76760;
}

.text-area{
    padding-left:50px;
    color:teal;

}
.btn {
        background-color: #f76760;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
      }

.right-section{
    height: 400px;
    width: 50%;
    display: inline-block;
    
}

.img-section{
   
}

.img-section img{
    padding-left: 40px;
}

.left-article{
    padding-left: 20px;
    float:left;
    height: 400px;
    width: 49%;
}

.right-article{
    height: 400px;
    width: 49%;
    display: inline-block;
    
}

.txt{
    font-size: 50px;
    text-align: left;
    
}
.right-article p {
    
    width:500px;
}


.project{
    background-color:gray;
}

.my-project{
        height: 300px;
        
}

.first-project{
    padding:5px;
    margin:5px;
    float:left;
    width: 20%;
    background-color: red;

}

.second-project{
    padding:5px;
    margin:5px;
    float:left; 
    width: 20%;
    background-color: blue;

}

.third-project{
    padding:5px;
    margin:5px;
    float:left;
    width: 20%;
    background-color: greenyellow;
}





.footer{
    height: 300px;
    background-color: white;
}