body{
font-family: 'Roboto', sans-serif;
background-color:white;
margin:0;
padding: 0;
}
.section{
   padding-left: -50px;
}
.header{
    margin:0;
    padding:0;
    height: 50px;
}
.nav{
float:right;
padding-right:20px;
font-size: 20px;
font-weight: bold;
}
.nav li{
    display: inline;
    float: left;
}
.nav a{
    display: block;
    padding:8px;
    text-decoration: none;
    color: #f76760;
}
.section{
    padding:0px;
}
.left-section{
    float:left;
    height: 400px;
    width: 50%;
}
.st{
    font-size:45px;
    color: #f76760;
}
.text-area{
    padding-left:80px;
    color:teal;
    overflow: hidden;
}
.text-area p{
    font-family: 'Bebas Neue', cursive;
    
}

.btn1 {
    background-color:  #2592A9;
    color: white;
    font-weight: bold;
    font-size: 30px;
    padding: 15px 25px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  .btn1:hover{
    background-color:  #56c5db;
    transform: scale(1.2);
    transition: transform 2s;
  }
.btn {
        position: relative;
        background-color: #2592A9;
        border: none;
        font-size: 18px;
        font-weight: bold;
        color: #FFFFFF;
        padding: 20px;
        width: 200px;
        text-align: center;
        -webkit-transition-duration: 0.4s !important; 
        transition-duration: 0.4s;
        text-decoration: none;
        cursor: pointer;
      }
.btn:hover {
        content: "";
        background:  #56c5db;
        display: block;
        position: absolute;
        padding-top: 300%;
        padding-left: 350%;
        margin-left: -20px!important;
        margin-top: -120%;
        opacity: 0;
        transition: all 0.9s;
      }
.btn:active:after {
        padding: 0;
        margin: 0;
        opacity: 1;
        transition: 0s
      }
.right-section{
    height: 400px;
    width: 50%;
    display: inline-block;
}
.img-section img{
    padding-left: 40px;
    height: 550px;
    width: 550px;
}
.left-article{
    padding-left: 20px;
    float:left;
    height: 400px;
    width: 49%;
}
.right-article{
    height: 400px;
    width: 49%;
    display: inline-block;
    
}
.txt{
    font-size: 50px;
    text-align: left;
    font-weight: bold;
}
.right-article p {
    
    width:500px;
}
.project{
    background-color:rgb(243, 239, 239);
    text-align: center;
    height: 500px;
    width: 90%;
    margin: 0 auto;
    padding-top:20px;
    border-radius: 10px;
}
.project-p1{
    font-size:20px;
}
.project p {
    font-size:20px;
    font-weight: bold;
    padding-bottom: 20px;
}
.my-project{
    padding-left: 100px;
    width:100%;
    text-align: center;
    height: 300px; 
}
.projectstyle {
    padding:15px;
    margin:5px;
    float:left;
    width: 300px;
    height: 250px;
    box-shadow: 10px 10px 40px;
    border-radius: 10px;
    padding:15px;
}

.my-project img{
    width: 300px;
    height: 250px;
}
.pt1{
    color: #f76760;
    
}
.footer{
    padding-top:90px;
    text-align: center;
    height: 300px;
    background-color: white;
}

.footer img{
    text-align: center;
    margin: 0 auto;
    height: 200px;
    width: 80%;
}